# Bonus: Temperature Analysis I

In [1]:
import pandas as pd
from datetime import datetime as dt

In [2]:
# "tobs" is "temperature observations"
df = pd.read_csv('./resources/hawaii_measurements.csv')
df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

In [3]:
# Convert the date column format from string to datetime

df['date'] = pd.to_datetime(df['date'])

In [4]:
# Set the date column as the DataFrame index

df['month'] = pd.to_datetime(df['date']).dt.month

df.set_index('date',inplace = True)

df.head()

                station  prcp  tobs  month
date
2010-01-01  USC00519397  0.08    65      1
2010-01-02  USC00519397  0.00    63      1
2010-01-03  USC00519397  0.00    74      1
2010-01-04  USC00519397  0.00    76      1
2010-01-06  USC00519397   NaN    73      1

In [6]:
# Drop the date column
#??? it's the index and won't go away...

### Compare June and December data across all years

In [7]:
from scipy import stats

In [9]:
# Filter data for desired months

df = df[(df['month']==6) | (df['month']==12)]

In [10]:
# Identify the average temperature for June
df.groupby(['month']).mean()

           prcp       tobs
month
6      0.136360  74.944118
12     0.216819  71.041529

In [11]:
# Identify the average temperature for December
# see above

In [13]:
# Create collections of temperature data
june = df.query('month' == '6')['tobs']
december = df.query('month' == '12')['tobs']

ValueError: expr must be a string to be evaluated, <class 'bool'> given

In [14]:
# Run paired t-test

### Analysis