# Bonus: Temperature Analysis I

In [1]:
import pandas as pd
from datetime import datetime as dt

In [2]:
# "tobs" is "temperature observations"
df = pd.read_csv('./resources/hawaii_measurements.csv')
df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

In [3]:
# Convert the date column format from string to datetime

df['date'] = pd.to_datetime(df['date'])

In [4]:
# Set the date column as the DataFrame index

df['month'] = pd.to_datetime(df['date']).dt.month
df['year'] = pd.to_datetime(df['date']).dt.year
df['day'] = pd.to_datetime(df['date']).dt.day

df.set_index('date',inplace = True)

df.head()

                station  prcp  tobs  month  year  day
date
2010-01-01  USC00519397  0.08    65      1  2010    1
2010-01-02  USC00519397  0.00    63      1  2010    2
2010-01-03  USC00519397  0.00    74      1  2010    3
2010-01-04  USC00519397  0.00    76      1  2010    4
2010-01-06  USC00519397   NaN    73      1  2010    6

In [5]:
# Drop the date column
#??? it's the index and won't go away...

### Compare June and December data across all years

In [6]:
from scipy.stats import ttest_rel

In [7]:
# Filter data for desired months

df = df[(df['month']==6) | (df['month']==12)]
df = df.dropna()  #hoped would fix unequal array issue

In [8]:
# Identify the average temperature for June
df.groupby(['month']).mean()

           prcp       tobs         year        day
month
6      0.136360  74.887548  2013.294790  15.457433
12     0.216819  70.930249  2012.815658  15.562989

In [ ]:
# Identify the average temperature for December
# see above

In [9]:
# Create collections of temperature data
# 2017 ends in August, so no December values, removed Dec 31...but, didn't fix issue of unequal arrays
june = df.query('month == 6 & year < 2017')['tobs']
december = df.query('month == 12 & year < 2017 & day != 31')['tobs']

In [10]:
# Run paired t-test
ttest_rel(june, december)
##make the arrays with year and

ValueError: unequal length arrays

### Analysis